
.containers{
  height: 90vh;
  display: grid;
  grid-template-areas: 
  "sidebar treeview selectbar content1"
  "sidebar treeview selectbar content1"
  "sidebar treeview selectbar content2"
  "sidebar treeview selectbar content2"
  "bottom bottom bottom bottom";
  grid-template-columns: 0.8fr 2fr 0.7fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
}

.sidebar{
  background-color: rgb(233, 228, 228);
  grid-area: sidebar;
  padding: 20px;
}
.treeview{
  background-color: rgb(155, 145, 145);
  grid-area: treeview;
  padding: 20px;
  overflow: auto;
}
.selectbar{
  background-color: rgb(207, 207, 207);
  grid-area: selectbar;
  padding: 20px;
}
.content1{
  background-color: rgb(164, 161, 161);
  grid-area: content1;
  padding: 20px;
  overflow: auto;
}
.content2{
  background-color: rgb(113, 113, 113);
  grid-area: content2;
  padding: 20px;
  overflow: auto;
}
.bottom{
  background-color: rgb(165, 165, 165);
  grid-area: bottom;
  padding: 20px;
}
.department{
  background-color: rgb(203, 201, 201);
  height: 100%;
}

