.card-container {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: hwb(213 36% 2%);
    border-radius: 8px;
    line-height: 1.3; /* 행간 조절, 기본값은 normal(1) */
    overflow-wrap: break-word;
  }

.card-button{
    margin-top: 10px;
}

