.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 버튼 스타일을 조정하여 검색 버튼과 엑셀 다운로드 버튼이 인접하도록 설정 */
#btn_search, #btn_excelDown {
    margin-right: 1000px; /* 원하는 간격으로 조절 */
}

.empList {
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 250px; /* 수정: ListGroup이 끝나는 지점의 오른쪽부터 시작하도록 조절 */
    padding: 15px;
}

.empListFooter {
    text-align: center;
    margin-top: 10px;
}