.container {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:  350px 390px;
    grid-template-areas:
		"   detail   "
        "   tab      ";
    margin-bottom: 10px;


  }
.delete{
    margin-right: 5px;
}
.detail{
    grid-area: detail;
  
}
.input{
    margin-left: 10px;
    margin-top: 10px;
}
.tab{
    grid-area: tab;
}